* {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.detailedActivity h3{
    margin: 25px 0px 15px 15px;
}

.detailedActivity h5 {
    margin: 5px;
}
.detailedActivity{
    overflow-x: auto;
}
